.homepage-container {
    display: flex;
    flex-direction: column;
}

.hero-container {
    display: flex;
    width: 100%;
    margin-top: 5px;
    position: relative;
}

#hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;
}

#hero-typo {
    position: absolute;
    width: 31%;
    top: 34%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
    -webkit-user-drag: none;
}

.hero-btns {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 75%;
    left: 68%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40rem;
}

.hb1set {
    display: flex;
    width: 40rem;
}

.hb2set {
    display: flex;
    width: 40rem;
    margin-top: 10px;
}

.hb3set {
    display: flex;
    width: 40rem;
    margin-top: 10px;
}

.hb11 {
    display: flex;
    background: linear-gradient(to right, #ffffff00 10%, #d9d9d9 50%);
    width: 680px;
    height: 52px;
    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    justify-content: end;
    align-items: center;
    padding-right: 28px;
    color: black;
    z-index: 5;
    cursor: pointer;
}

.hb12 {
    display: flex;
    background: #FF7043;
    width: 420px;
    height: 52px;
    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    justify-content: end;
    align-items: center;
    padding-right: 28px;
    margin-left: -65px;
    z-index: 4;
    color: white;
    cursor: pointer;
}

.hb21 {
    display: flex;
    background: linear-gradient(to right, #ffffff00 0%, #FF7043 50%);
    width: 470px;
    height: 72px;
    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: end;
    align-items: center;
    padding-right: 28px;
    color: white;
    z-index: 5;
    margin-left: -25px;
    cursor: pointer;
}

.hb22 {
    display: flex;
    background: #d9d9d9;
    width: 420px;
    height: 72px;
    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: center;
    align-items: center;
    padding-right: 28px;
    margin-left: -65px;
    margin-right: -45px;
    z-index: 4;
    cursor: pointer;
}

.hb31 {
    display: flex;
    background: linear-gradient(to right, #ffffff00 10%, #d9d9d9 50%);
    width: 400px;
    height: 52px;
    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    justify-content: end;
    align-items: center;
    padding-right: 28px;
    color: black;
    z-index: 5;
    cursor: pointer;
}

.hb11:hover,
.hb21:hover,
.hb31:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}


.hb12:hover,
.hb22:hover {
    transform: translateX(10px);
    transition: transform 0.3s ease-in-out;
}