@font-face {
    font-family: basketball;
    src: url(../../../public/Basketball.otf);
}

.matchgallery-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 500vh; */
}

.result-n-sort {
    display: flex;
    width: 87%;
    margin-top: 20px;
    justify-content: space-between;
}

.result-n-sort h2 {
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 1rem;
}

.sortsec {
    display: flex;
    width: 20%;
    justify-content: end;
    align-items: center;
}

.sortsec h2 {
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 1rem;
    margin-right: 5px;
}

.sortsec select {
    background-color: #00000000;
    height: 100%;
    width: 58%;
    border: none;
    outline: none;
    font-family: "Quicksand", sans-serif;
    font-size: 1.01rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.sortsec select option {
    background-color: #222;
    color: white;
    font-family: "Quicksand", sans-serif;
}


.match-gallery-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 88%;
    height: auto;
    margin-top: 20px;
    margin-bottom: -10px;
    justify-items: center;
}

.mtch-gal-single {
    display: flex;
    flex-direction: column;
    width: 635px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.10);
}

.mtch-gl-top {
    display: flex;
    width: 100%;
    height: 50%;
}

.gl-tp-left {
    display: flex;
    width: 55%;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
}

.gl-tp-right {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-right-radius: 30px;
}

.gl-tp-right img {
    filter: blur(50px);
}

.gl-inf-set {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.gl-tp-right h1,
.gl-tp-right h2,
.gl-tp-right h3 {
    color: white;
    width: 80%;
    margin-left: 25px;
}

.gl-tp-right h1 {
    top: 5%;
    font-family: basketball;
    font-size: 1.4rem;
    font-weight: 300;
}

.gl-tp-right h2 {
    top: 30%;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    margin-top: 30px;
}

.gl-tp-right h3 {
    top: 68%;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
}

.mtch-gl-bottom {
    display: flex;
    width: 100%;
    height: 47%;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgba(51, 77, 84, 1);
}

.mtch-gl-bottom p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    text-align: justify;
    width: 90%;
}